@import '../mixins.scss';
input[type="text"].comp-search-form{
  width: 420px;
  margin: 0px auto 30px;
  padding: 5px 10px;
  border-radius: 200px;
  border: solid 1px #cac7c7;
  background:{
    repeat: no-repeat;
    position: center right 10px;
    size: 12px;
    image: url(../img/common/search.svg);
  }
}
