@import 'mixins.scss';
.comp-radio{
  @include flexSet;
  justify-content: center;
  align-items: center;
  .radio_item {
    @include flexSet;
    align-items: center;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label {
      padding-left: 25px;
      position: relative;
      margin-right: 20px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;
    }

    input[type="radio"] + label::before {
      display: block;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #787878;
      border-radius: 50%;
      margin: auto;
    }

    input[type="radio"]:checked + label {
      color: #000;
    }

    input[type="radio"]:checked + label::after {
      display: block;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 3px;
      width: 11px;
      height: 11px;
      background: #787878;
      border-radius: 50%;
      bottom: 0;
      margin: auto;
    }
  }

}
