@charset "UTF-8";
/* ----- Google Fonts ----- */
@font-face { /* IE用 */
    font-family: 'futura';
		font-weight: 700;
    src: url('../fonts/futura.eot'),url('../fonts/futura.woff') format('woff'),
    url('../fonts/futura.ttf') format('truetype'),
}
@font-face { /* IE用 */
    font-family: 'futura';
		font-weight: 500;
    src: url('../fonts/futura.eot'),url('../fonts/futura.woff') format('woff'),
    url('../fonts/futura.ttf') format('truetype'),
}
@font-face {
   font-family: 'Noto';
   font-style: normal;
   font-weight: bold;
   src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
 }
 @font-face {
    font-family: 'Noto';
    font-style: normal;
    font-weight: normal;
    src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
         url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
         url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
  }

body {
	font-size: 12px;
	line-height: 1;
  background: #fff;
  color: #393E46;
	font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
@mixin flexSet{
  display: flex;
  flex-wrap: wrap;
}
@mixin bgSet{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@mixin hover{
  transition: opacity .5s;
  &:hover{
    opacity: 0.8;
  }
}
/* リセット */
@import 'reset.scss';
/* 共通パーツ */
@import 'header.scss';
@import 'side.scss';
@import 'common.scss';
/* コンポーネント系 */
@import 'component/comp-tag.scss';
@import 'component/comp-pagetitle.scss';
@import 'component/comp-flow.scss';
@import 'component/comp-pagetab.scss';
@import 'component/comp-search-form.scss';
@import 'component/comp-radio.scss';
@import 'component/comp-checkbox.scss';
@import 'component/comp-selectedtags.scss';
@import 'component/comp-submitbutton.scss';
@import 'component/comp-loadingbutton.scss';
@import 'component/comp-table.scss';
@import 'component/comp-fixedbutton.scss';
@import 'component/comp-editbutton.scss';
/* ページ個別 */
@import 'matching/matching01.scss';
@import 'matching/matching02.scss';
@import 'matching/matching03.scss';
@import 'matching/matching04.scss';
