@charset "UTF-8";
/* ----- Google Fonts ----- */
@font-face {
  /* IE用 */
  font-family: 'futura';
  font-weight: 700;
  src: url("../fonts/futura.eot"), url("../fonts/futura.woff") format("woff"), url("../fonts/futura.ttf") format("truetype"); }

@font-face {
  /* IE用 */
  font-family: 'futura';
  font-weight: 500;
  src: url("../fonts/futura.eot"), url("../fonts/futura.woff") format("woff"), url("../fonts/futura.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

/* リセット */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a:hover {
  text-decoration: none; }

button:hover {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul:after {
  display: block;
  content: "";
  clear: both; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

button {
  border: none;
  background: #fff;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
  button:focus {
    outline: 0; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ul {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none; }

/* 共通パーツ */
@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

header {
  width: 100%;
  min-width: 1100px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #1f2023;
  z-index: 1000; }
  header .header_inner {
    width: calc(100% - 50px);
    margin: 0 auto;
    height: 60px;
    position: relative; }
    header .header_inner .header_logo {
      width: 120px;
      height: 35px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
      header .header_inner .header_logo .logo {
        display: block;
        width: 100%;
        height: 35px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(../img/header/bu_logo.svg);
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
        header .header_inner .header_logo .logo:hover {
          opacity: 0.8; }
    header .header_inner .header_nav .user {
      height: 18px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      -webkit-transition: opacity .5s;
      -o-transition: opacity .5s;
      transition: opacity .5s; }
      header .header_inner .header_nav .user:hover {
        opacity: 0.8; }
      header .header_inner .header_nav .user .name {
        padding: 5px 0 5px 30px;
        display: inline-block;
        font-size: 12px;
        color: #fff;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 18px;
        background-image: url(../img/header/default_user_icon.svg); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.side {
  position: fixed;
  top: 60px;
  left: 0;
  width: 210px;
  height: 100vh;
  background: #1f2023;
  border-top: 1px solid #666; }
  .side nav li a {
    display: block;
    padding: 0px 25px;
    position: relative;
    height: 55px;
    line-height: 55px;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; }
    .side nav li a:hover {
      opacity: 0.8; }
    .side nav li a img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 25px;
      margin: auto;
      width: 25px;
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1); }
    .side nav li a span {
      display: block;
      padding-left: 45px;
      font-size: 16px;
      color: #fff; }
  .side nav li.active a::before {
    display: block;
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #ffb500;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .side nav li.active a.subcat::before {
    display: none; }
  .side nav li.active a img {
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0); }
  .side nav li.active a span {
    color: #ffb500; }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

/* 基本レイアウト */
.wrapper {
  min-width: 1100px;
  position: relative;
  margin-top: 60px; }

article {
  background: #ececec;
  padding-left: 210px;
  width: calc(100% - 210px);
  min-height: 100vh; }
  article .article_inner {
    width: calc(100% - 100px);
    padding: 30px 0;
    margin: 0px auto; }
  article .content {
    width: 100%;
    background: #fff;
    padding: 30px 0;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04); }

/* フォーム */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px; }

::-webkit-input-placeholder {
  color: #aaa !important;
  font-size: 14px;
  font-weight: normal; }

:-ms-input-placeholder {
  color: #aaa !important;
  font-size: 14px;
  font-weight: normal; }

::-ms-input-placeholder {
  color: #aaa !important;
  font-size: 14px;
  font-weight: normal; }

::placeholder {
  color: #aaa !important;
  font-size: 14px;
  font-weight: normal; }
  @media screen and (max-width: 780px) {
    ::-webkit-input-placeholder {
      /*padding-top: 0.25em;*/ }
    :-ms-input-placeholder {
      /*padding-top: 0.25em;*/ }
    ::-ms-input-placeholder {
      /*padding-top: 0.25em;*/ }
    ::placeholder {
      /*padding-top: 0.25em;*/ } }

::-webkit-placeholder {
  /*padding-top: 0.25em;*/ }

::-moz-placeholder {
  color: #aaa;
  opacity: 1; }

::-moz-placeholder {
  color: #aaa;
  opacity: 1; }

::-ms-input-placeholder {
  color: #aaa; }

button {
  font-family: initial;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  border: none;
  cursor: pointer;
  background-color: transparent; }

textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 1.5; }

input {
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  -webkit-box-shadow: none;
  box-shadow: none; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="button"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: #ffb500 !important; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"] {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: solid 1px #cac7c7; }

input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  border: none;
  cursor: pointer; }
  input[type="submit"]:hover,
  input[type="button"]:hover {
    opacity: 0.7;
    -webkit-box-shadow: none;
    box-shadow: none; }

/* コンポーネント系 */
@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.comp-pagetitle {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000; }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.comp-flow {
  margin: 45px auto 35px; }
  .comp-flow ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; }
    .comp-flow ul li {
      position: relative;
      width: 100px;
      margin-right: 80px;
      text-align: center; }
      .comp-flow ul li::before {
        display: block;
        content: "";
        width: calc(100% + 120px);
        height: 3px;
        background: #b8b7b7;
        position: absolute;
        top: 25px;
        left: 30px;
        margin: auto; }
      .comp-flow ul li .num {
        position: relative;
        z-index: 10;
        display: block;
        text-align: center;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        margin: 0 auto 10px;
        border-radius: 50%;
        background: #b8b7b7;
        pointer-events: none;
        -webkit-transition: background .3s;
        -o-transition: background .3s;
        transition: background .3s; }
      .comp-flow ul li .txt {
        display: block;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: normal;
        color: #000000; }
      .comp-flow ul li.active .num {
        background: #ffb500; }
      .comp-flow ul li:last-child {
        margin-right: 0; }
        .comp-flow ul li:last-child::before {
          display: none; }
        .comp-flow ul li:last-child .num {
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-image: url(../img/flow/check.svg);
          background-position: center;
          background-size: 14px; }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.comp-pagetab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .comp-pagetab ul li {
    width: 100%;
    text-align: center;
    position: relative; }
    .comp-pagetab ul li::before {
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      margin: auto;
      content: "";
      width: 100%;
      height: 2px;
      background: #ececec;
      -webkit-transition: background .3s;
      -o-transition: background .3s;
      transition: background .3s; }
    .comp-pagetab ul li.active::before {
      background: #ffb500; }
    .comp-pagetab ul li button {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;
      padding: 10px 0; }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

input[type="text"].comp-search-form {
  width: 420px;
  margin: 30px auto;
  padding: 5px 10px;
  border-radius: 200px;
  border: solid 1px #cac7c7;
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 12px;
  background-image: url(../img/common/search.svg); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.comp-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .comp-radio .radio_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .comp-radio .radio_item input[type="radio"] {
      display: none; }
    .comp-radio .radio_item input[type="radio"] + label {
      padding-left: 25px;
      position: relative;
      margin-right: 20px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000; }
    .comp-radio .radio_item input[type="radio"] + label::before {
      display: block;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #787878;
      border-radius: 50%;
      margin: auto; }
    .comp-radio .radio_item input[type="radio"]:checked + label {
      color: #000; }
    .comp-radio .radio_item input[type="radio"]:checked + label::after {
      display: block;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 3px;
      width: 11px;
      height: 11px;
      background: #787878;
      border-radius: 50%;
      bottom: 0;
      margin: auto; }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.comp-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .comp-checkbox input[type="checkbox"] {
    display: none; }
  .comp-checkbox .title {
    padding-left: 20px;
    position: relative;
    margin-right: 20px; }
  .comp-checkbox .title::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #787878;
    border-radius: 4px; }
  .comp-checkbox input[type="checkbox"]:checked + .title {
    color: #000; }
  .comp-checkbox input[type="checkbox"]:checked + .title::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    border-bottom: 3px solid #787878;
    border-right: 3px solid #787878; }

/* ページ個別 */
@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

body {
  font-size: 12px;
  line-height: 1;
  background: #fff;
  color: #393E46;
  font-family: 'Noto', 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.matching01 .export {
  margin-bottom: 30px; }
  .matching01 .export .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
    .matching01 .export .wrap .ttl {
      display: block;
      font-size: 16px;
      letter-spacing: normal;
      color: #000000;
      margin-right: 100px; }
  .matching01 .export .input_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .matching01 .export .input_wrap input[type="text"] {
      width: 400px;
      margin-right: 5px; }
    .matching01 .export .input_wrap button {
      display: block;
      font-size: 14px;
      letter-spacing: normal;
      background: #ffb500;
      text-align: center;
      color: #fff;
      padding: 5px 15px;
      border-radius: 5px; }
