@import '../mixins.scss';
.matching01{
  .export{
    margin-bottom: 30px;
    .wrap{
      @include flexSet;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      .ttl{
        display: block;
        font-size: 16px;
        letter-spacing: normal;
        color: #000000;
        margin-right: 100px;
      }
    }
    .input_wrap{
      @include flexSet;
      justify-content: center;
      input[type="text"]{
        width: 400px;
        margin-right: 5px;
      }
      button{
        display: block;
        font-size: 14px;
        letter-spacing: normal;
        background: $basicYellow;
        text-align: center;
        color: #fff;
        padding: 5px 15px;
        border-radius: 5px;
      }
    }
  }
  .tag_wrap{
    max-width: 700px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto 30px;
  }
  .selected_tags{
    max-width: 700px;
    height: 100px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #707070;
    span{

    }
  }
}
