@import '../mixins.scss';
.matching04{
  .complete{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 195px;
    margin: auto;
    text-align: center;
    .icon{
      display: inline-block;
      width: 133px;
      height: 133px;
      border: solid 8px #ffb500;
      border-radius: 50%;
      @include bgSet;
      background-size: 45px;
      background-image: url(../img/common/complete.svg);
    }
    .txt{
      margin-top: 30px;
      font-size: 16px;
      letter-spacing: normal;
      color: #000000;
    }
  }
}
